:root {
  --white-transparent-5: rgba(255, 255, 255, 0.05);
  --white-transparent-10: rgba(255, 255, 255, 0.1);
  --white-transparent-15: rgba(255, 255, 255, 0.15);
  --white-transparent-20: rgba(255, 255, 255, 0.2);
  --white-transparent-25: rgba(255, 255, 255, 0.25);
  --white-transparent-30: rgba(255, 255, 255, 0.3);
  --white-transparent-40: rgba(255, 255, 255, 0.4);
  --white-transparent-50: rgba(255, 255, 255, 0.5);
  --white-transparent-60: rgba(255, 255, 255, 0.6);
  --white-transparent-70: rgba(255, 255, 255, 0.7);
  --white-transparent-80: rgba(255, 255, 255, 0.8);
  --white-transparent-90: rgba(255, 255, 255, 0.9);
  --balck-transparent-5: rgba(0, 0, 0, 0.05);
  --balck-transparent-10: rgba(0, 0, 0, 0.1);
  --balck-transparent-15: rgba(0, 0, 0, 0.2);
  --balck-transparent-25: rgba(0, 0, 0, 0.25);
  --balck-transparent-30: rgba(0, 0, 0, 0.3);
  --balck-transparent-40: rgba(0, 0, 0, 0.4);
  --balck-transparent-50: rgba(0, 0, 0, 0.5);
  --balck-transparent-60: rgba(0, 0, 0, 0.6);
  --balck-transparent-70: rgba(0, 0, 0, 0.7);
  --balck-transparent-80: rgba(0, 0, 0, 0.8);
  --balck-transparent-90: rgba(0, 0, 0, 0.9);
  --text-white-pure: white;
  --text-black-pure: black;
  --text-black-grayscale: rgba(0, 0, 0, 0.8);
  --text-color-pure: black;
  --background-shallow: rgb(237, 237, 237);
  --background-shallow-transparent: rgba(237, 237, 237, 0.7);
  --background-pure: white;
  --background-hover: rgb(205, 205, 205);
  --background-transparent-hover: rgba(0, 0, 0, 0.1);
  --background-active: rgb(175, 175, 175);
  --theme-color: rgb(67, 122, 252);
  --theme-color-hover: rgb(67, 122, 252);
  --theme-color-active: rgba(67, 122, 252);
  --selection-color: rgb(190, 215, 254);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(104, 103, 173);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}